<div class="row-fluid text-center" style="padding-top: 20px;">
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('GRID MAX POINT X') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level"
                   data-bind="value: settingsViewModel.settings.plugins.BLTouchSoftware.grid_max_points_x">
        </div>
        <label class="control-label">{{ _('GRID MAX POINT Y') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level"
                   data-bind="value: settingsViewModel.settings.plugins.BLTouchSoftware.grid_max_points_y">
        </div>
        <label class="control-label">{{ _('z clearance to deploy probe') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level"
                   data-bind="value: settingsViewModel.settings.plugins.BLTouchSoftware.z_clearance_deploy_probe">
        </div>
        <label class="control-label">{{ _('x_probe_offset_from_extruder') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level"
                   data-bind="value: settingsViewModel.settings.plugins.BLTouchSoftware.x_probe_offset_from_extruder">
        </div>
        <label class="control-label">{{ _('y_probe_offset_from_extruder') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level"
                   data-bind="value: settingsViewModel.settings.plugins.BLTouchSoftware.y_probe_offset_from_extruder">
        </div>
        <label class="control-label">{{ _('z_probe_offset_from_extruder') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level"
                   data-bind="value: settingsViewModel.settings.plugins.BLTouchSoftware.z_probe_offset_from_extruder">
        </div>
    </div>
</form>
</div>
