<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('GRID MAX POINT X') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level"
                   data-bind="value: settings.plugins.BLTouchSoftware.grid_max_points_x">
        </div>
        <label class="control-label">{{ _('GRID MAX POINT Y') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level"
                   data-bind="value: settings.plugins.BLTouchSoftware.grid_max_points_y">
        </div>
    </div>
</form>
